html {
    scroll-behavior: smooth;
    font-size:16px;
}

body {
    margin:0px;
    background-color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"メイリオ";
}

.loading-page {
    z-index: 500;
    background-color:white;
    height: 10%;
    margin: 25% 0;
    text-align: center;
    color: #000;
}
    .loading-page h1{
        font-size: 26px;
        margin:25% 0;
        text-align: center;
    }

#main-page{
    grid-template-rows: 50px 250px 1fr 100px;
    grid-template-columns: 75% 1fr;
    grid-template-areas:
    "header header"
    "top-image top-image"
    "main main"
    "footer footer";
}

header {
    grid-area: header;
    display: flex;
    background-color: rgba(34, 49, 52, 0.9);
    color: #fff;
    top:0;
    z-index:10;
    justify-content: space-between;
    align-items: center;
}
  .fixed{
    position: fixed;
    top: 0;
  }
    header a{
        text-decoration: none;
        color:#fff;
    }
    .header-logo {
        font-size: 30px;
        padding-left: 5px;
    }
    .header-nav ul{
        display: flex;
        list-style: none;
        margin:0;
        padding-right: 10px;
    }
    .header-nav li{
        float: right;
        line-height: 50px;
        padding: 0 5px;
        transition: all 0.5s;
    }
    .header-nav a{
        display:block;
    }
    .header-nav li:hover{
        background-color: rgba(40, 52, 54, 0.9);
    }
/*　ハンバーガーメニューボタン　*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 20px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #BBBBBB;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* スマホメニューを開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 16px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  
  /* メニュー背景　*/
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba( 71,70,73,0.6 );
    text-align: center;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.6s;
  }
  
  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
  }
  
  /* クリックでjQueryで追加・削除 */
  nav.globalMenuSp.active {
    opacity: 100;
    display: block;
     transform: translateX(0%);
  }

#top-image {
    grid-area: top-image;
    background-image: url(/assets/images/top-img2.jpg);
    background-size: cover;
    padding: 110px 0;
}
    #top-image h1 {
        color: #fff;
        text-align: center;
        font-size:30px;
    }

main {
  grid-area: main;
  background-color: rgb(240, 240, 240);
  display:grid;
  grid-template-columns: 75% 1fr;
  grid-template-rows:1fr;
  grid-template-areas: 
  "card side";
}

.-main {
  margin:auto 50px;
}

.card {
  border: solid 1px rgba(0,0,0,.08);
  background-color:#fff;
  padding: 5px 15px;
}
.main-card {
    grid-area: card;
    margin:10px 15px;
    margin-left: 100px;
    border: 1px solid #ddd;
    border-top: 5px solid rgb(90, 92, 230);
}
    .main-card h1 {
      padding: 1rem 2rem;
      border-left: 5px solid #000;
      background: #f4f4f4;
      font-size: 26px;
    }

.main-nav {
  background-color:#fbfcfc;
  border:1px solid #ddd;
  border-top: 5px solid rgb(90, 92, 230);
  padding: 5px;
}
.main-nav h2 {
  margin-bottom: 0px;
}
.main-nav a {
  color: #000;
  text-decoration: none;
}
.main-nav li {
  list-style-type: none; /*点を非表示*/
  position: relative; /*基準位置*/
  padding-left: 0.6em;
  }
.main-nav li:before {
  border-radius: 50%; /*丸くする*/
  width: 5px; /*点の幅*/
  height: 5px; /*点の高さ*/
  display: block;
  position: absolute; /*絶対配置*/
  left: 0; /*点の位置*/
  top: 0.6em; /*点の位置*/
  content: "";
  background: #1ec4e6; /*点の色*/
  }


.sub-message h2{
  position: relative;
  padding: 0.25em 0;
}

.sub-message h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(90, 92, 230), transparent);
  background: linear-gradient(to right, rgb(90, 92, 230), transparent);
}

aside {
    grid-area: side;
    margin:10px 5px 10px 0;
}

.side-card {
  margin-bottom: 10px;
}

.ado-prof h1{
  text-align: center;
}
.ado-prof h2{
  text-align:center;
  font-size: 20px;
}
.ado-prof img{
  display: block;
  margin:0 auto;
  -webkit-user-drag:none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: rgb(90, 92, 230);
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f106';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

footer {
    grid-area: footer;
    background-color:rgb(90, 92, 230);
    color: #fff;
    text-align: center;
}